extends ../layouts/user.layout.pug
block body
	h1 Create Page
	
	ul
	if errors
		each err in errors
			li.alert.alert-danger= err

	form(action="/users/create", method="POST", enctype="multipart/form-data")
		.form-group
			label(for='email') Email address
			input.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email', name="email")
		.form-group
			label(for='pw') Password
			input.form-control(name='pw', type='password', placeholder='Password')
		.form-group
			label(for='name') Name
			input.form-control(name='name', type='text', placeholder='Name')
		.form-group
			label(for='phone') Phone
			input.form-control(name='phone', type='tel', placeholder='Pohne')
		.form-group
			label(for='avatar') Avatar: 
			input(type='file', name='avatar')
		button.btn.btn-primary(type='submit') Create